*
{
    margin: 0px;
    padding: 0px;
    font-family: 'Pavanam';
}
html
{
    scroll-behavior: smooth;
}
body
{
    width: 1523.2px;
    margin: 0 auto;
    padding-top: 117px;
    user-select: none;
    background-color: #000000;
}
::-webkit-scrollbar
{
	width: 10px;
    overflow: auto;
}
::-webkit-scrollbar-track
{
	background: #000000; 
}
::-webkit-scrollbar-thumb
{
    width: 10px;
 	background: rgba(149, 2, 175, 0.7); 
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover
{
	background: rgba(149, 2, 175, 1);
}
::-webkit-search-cancel-button
{
	-webkit-appearance: none;
}
a
{
    text-decoration: none; 
}

/*_______________________HEADER*_______________________*/
header
{
    top: -200px;
    width: 1523.2px;
    height: 120px;
    background-image:url("img/header.jpg");
    background-size: cover;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 10px 10px 10px;
    position: fixed;
    z-index: 100;
    animation: drop-header 1s ease forwards
}
header .centriranje
{
    width: 95%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#logo
{
    width: 20%;
    height: 100%;
}
#logo img
{
    height: 80%;
    margin-top: 3%;
}
#headersredina
{
    height: 120px;
    width: 50%;
    align-items: center;
}
#slogan
{
    width: 55%;
    margin: 5px auto 0;
    text-transform: uppercase;
    color: #c2c2c2;
    font-weight: 600;
}
#slogan p
{
    font-size: 18px;
    border: 2px solid #9502af;
    background-color: rgba(0, 0, 0, 0.4);
    word-spacing: 5px;
    letter-spacing: 1px;
    border-radius: 5px;
    text-align: center;
    animation: blinking 1.3s infinite;
}
nav
{
    height: 60px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    padding: 0 10%;
}
nav ul
{
    border: 2px solid #9502af;
    border-radius: 5px;
    width: 80%;
}
nav ul li
{
    margin: 14px 0;
    display: inline-block;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
}
nav ul li:not(:first-child)
{
    margin-left: 25px;
}
nav ul li a
{
    color: #c2c2c2;
    border-radius: 5px;
    padding: 0 7px;
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
}
nav ul li a:not(.aktivno)::after
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 2px;
    background: #9502af;
    transition: 0.3s ease-out;
}
  
  nav ul li a:not(.aktivno):hover::after
{
    left: 0;
    width: 100%;
}
.aktivno
{
    color: #9502af;
    font-weight: bold;
    border: 2px solid #9502af;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.4);
}
#pretraga
{
    width: 20%;
}
#pretraga form
{
    display: flex;
    flex-direction: row;
}
#pretraga input[type=search]
{
    width: 100%;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid #9502af;
    border-radius: 5px;
    color: #c2c2c2;
    outline: none;
}
#pretraga input[type=search]:focus
{
    border: 2px solid #c2c2c2;
}
#pretraga button[type=reset]
{
    background: transparent;
    color: #c2c2c2;
    margin-left: 3px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    transition: 0.3s;
}
#pretraga button[type=reset]:hover
{
    color:#9502af
}

/*_______________________INDEX_______________________*/
#slajder
{
    width: 100%;
    height: 90vh;
    position: relative;
    overflow: hidden ;
}
.slajd
{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    animation: fadein 21s infinite;
}
.slajd .slika
{
    width: inherit;
    height: inherit;
    position: relative;
    background-size: cover;
    object-fit: cover;
    animation: zoom 21s infinite;
}
.slajd .jedan
{
    background-image: url(img/slajd1.jpg);
}
.slajd .dva
{
    background-image: url(img/slajd2.jpg);
}
.slajd .tri
{
    background-image: url(img/slajd3.jpg);
}
.slajd:nth-child(1),.slajd .jedan
{
    animation-delay: 0s;
}
.slajd:nth-child(2),.slajd .dva
{
    animation-delay: 7s;
}
.slajd:nth-child(3),.slajd .tri
{
    animation-delay: 14s;
}

.slajd .naslov
{
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 7px;
    color: #c2c2c2;
    padding: 100px 50px;
}
.slajd .naslov h1
{
    font-size: 50px;
    word-spacing: 5px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}
.slajd .naslov h1 span
{
    color: #9502af;
}
#oklubu
{
    width: 60%;
    margin: 100px auto;
    animation: fadein2 2s ease forwards;
    opacity: 0;
}
#oklubu h1
{
    color: #c2c2c2;
    font-size: 45px;
    height: 55px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}
#oklubu h2
{
    color: #9502af;
    font-weight: 550;
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}
#oklubu p
{
    font-size: 20px;
    color: #c2c2c2;
    word-spacing: 3px;
    text-transform: uppercase;
    text-align:justify;
    text-align-last: center ;
    margin-bottom: 10px;
}
#oklubu #kontakt
{
    width: 300px;
    height: 30px;
    margin: 30px auto;
    text-align: center;
    vertical-align: middle;
}
#oklubu #kontakt a
{   
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    font-size: 25px;
    color: #c2c2c2;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 2px solid #9502af;
    border-radius: 5px;
    transition: 0.3s;
}
#oklubu #kontakt a:hover
{
    font-size: 26px;
    color: black;
    font-weight: 800;
    background-color: #9502af;
}

/*_______________________FOOTER_______________________*/
footer
{
    background-color: black;
    width: 100%;
    height: 90px;
    border-top: 2px solid #9502af;
    opacity: 0;
    animation: fadein2 2s ease forwards;
}
footer .centriranje
{
    height: 90px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}
.linkovi
{
    color: #c2c2c2;
    font-size: 25px;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 15px;
}
.linkovi a
{
    color: #c2c2c2;
    font-size: 25px;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 15px;
    transition-duration: 0.3s;
}
.linkovi a:hover
{
    color: #9502af;
}
.linkovi p
{
    color: #c2c2c2;
    font-size: 15px;
    word-spacing: 30px;
    text-align: center;
    text-transform: uppercase;
}
#copyright img
{
    width: 165px;
    margin: 15px auto 0px;
}
#copyright p
{
    font-weight: 700;
    color: #c2c2c2;
    font-size: 10px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}

/*_______________________ANIMACIJE_______________________*/
@keyframes drop-header
{
    0%{opacity: 0;}
    50%{transform: translateY(220px);}
    100%{transform: translateY(200px);opacity: 1;}
}
@keyframes blinking
{
    0%{opacity: 1;}
    5%{opacity: 0;}
    10%{opacity: 1;}
    15%{opacity: 0;}
    20%{opacity: 1;}
    25%{opacity: 0;}
    30%{opacity: 1;}
}
@keyframes fadein
{
    20%{opacity: 1;}
    40%{opacity: 0;}
}
@keyframes zoom
{
    100%{transform: scale(1.3)}
}
@keyframes fadein2
{
    10%{opacity: 0;}
    100%{opacity: 1;}
}